services:
    proxy:
      image: jwilder/nginx-proxy
      ports:
        - 80:80
      volumes: 
        - /var/run/docker.sock:/tmp/docker.sock:ro

    frontend:
        image: yaharuott/url_shortener_test_frontend
        build: 
          context: ./frontend
          dockerfile: Dockerfile
        environment:
          - VIRTUAL_HOST=yaharuott.ru
        depends_on:
          - backend
    backend:
        image: yaharuott/url_shortener 
        build: .
        env_file:
          - path: ./.env
        environment:
          - SERVICE_PORT=8080
          - LENGTH_GEN=8
          - DB_NAME=link_shortener
          - DB_PORT=3306
          - DB_HOST=database
          - VIRTUAL_HOST=api.yaharuott.ru
          - VIRTUAL_PORT=8080
        depends_on: 
          - database
        restart: on-failure
    database:
        image: mysql:8.4
        env_file:
          - path: ./.env
